body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
}
nav li {
    display: inline-block;
    text-transform: uppercase;
    
}
li a {
    text-decoration: none;
    line-height: 16px;
}
.features-list {
    list-style: none;    
}
.lifestyle {
    font-size: 14px;
    color: #b4ad9e;
    line-height: 17px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;

}
.features-list-name {
    line-height: 36px;
    font-size: 30px;
}
.features-list-about {
    line-height: 24px;
}
button {
    line-height: 24px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    position: absolute;
    left: 507px;
    top: 1949px;
    width: 162px;
    height: 58px;
    z-index: 3;
}
.visually-hidden {
    position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

  