body {
    font-family: 'Playfair Display', serif;
    font-size: 0px;
    color: #626262;
    font-size: 14px;
    background-color: #ffffff;
    width: 1200px;
    height: 2079px;
    margin: 0 auto;
}
nav {
    margin: 0 auto;
    
}
ul {
    margin: 0 auto;
    padding: 0;
}
ul li {
    display: inline-block;

}
.menu-link-Lifestyle {
    padding: 77px 121px 104px 163px;
}
.menu-link-photodiary {
    padding: 77px 103px 104px 95px;
}
.menu-link-Music {
    padding: 77px 95px 104px 103px;
}
.menu-link-travel {
    padding: 77px 160px 104px 95px;
}
li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
section {
    margin: 0 auto;
    
}
.features-list-item-l {
    width: 420px;
    height: 478px;
    display: inline-block;
    text-align: center;
    margin-left: 115px;

}
.features-list-item-r {
    width: 420px;
    height: 478px;
    display: inline-block;
    text-align: center;
    margin-left: 59px;

}
.features-list-name {
    line-height: 36px;
    font-size: 30px;
    text-align: left;
}
.features-list-about {
    line-height: 24px;
    text-align: left;
    width: 414px;
    height: 63px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
}
.lifestyle {
    font-size: 14px;
    color: #b4ad9e;
    line-height: 17px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    width: 63px;
    height: 11px;

}
button {
    background-color: #ffffff;
    border-width: 1px;
    border-color:#626262;
    border-style: solid;
    width: 162px;
    height: 58px;
    margin: 54px 529px 70px 507px;
  }
.button {
    width: 96px;
    height: 17px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;

  }
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

