body {
    background: #fff;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto; 
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}



.header__container {
    width: 100%;
    height: 96px;
}

.logo {
    margin-top: 38px;
    float: left;
    display: inline-block;
    color: #898787;
    font-family: "Roboto";
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo::first-letter {
    content: "";
    color: #1abc9c;
    font-weight: bold;
}

nav {
    float: right;
    margin-top: 40.5px;
}

.menu li {
    display: inline-block;
    margin-right: 30px;
}

ul li:last-child {
    margin-right: 0px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(15, 1, 1);
    font-size: 14px;
    line-height: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.menu li:hover a {
    color: #1abc9c;
}

section {
    background: #181819;
    height: 596px;
    width: 100%;    
}

.slider {
    position: relative;
    height: 596px;
    width: 100%;
}

.container__slaider {
    width: 100%;
    max-width: 1110px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
}

.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides__img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 596px;
    display: block;
    object-fit: cover;
}

.slider-ctrl {
    width: 100px;
    height: 100px;
    background-color: rgba(78, 198, 172, 0.712);
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    position: relative;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    border: none;
}

.slider-ctrl:hover {
    background-color: rgb(78, 198, 172);
}

.slider-ctrl-left {
    left: 0;
}

.slider-ctrl-right {
    right: 0;
}

.tours-box {
    position: absolute;
    width: 766px;
    left: 50%;
    transform: translateX( -50%);
    top: 35%;
}
/* ----------MAIN---------------- */
.tours-title {
    font-size: 60px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.tours-text {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}

main {
    height: 670px;
    width: 100%;
    background: rgb(233, 240, 253);
}
.catalog__title {
    text-transform: uppercase;
    color: rgb(81, 81, 81);
    font-size: 48px;
    line-height: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    font-weight: bold;
}

.catalog__title::after {
    content: '';
    width: 160px;
    height: 7px;
    background: rgb(26, 188, 156);
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 80px;
}

.colection__item {
    width: 255px;
    height: 322px;
    background-color: beige;
    float: left;
    position: relative;
    margin-right: 30px;
}

.rectangle {
    background-color: #323232;
    height: 40px;
}

.name__product {
    float: left;
    width: 223px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.price__prodact {
    float: right;
    height: 40px;
    width: 32px;
    color: #fff;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    line-height: 40px;
}

.colection :last-child {
    margin-right: 0;
}

.colection__item:hover .name__product {
    background: #1abc9c;
}

.colection__item:hover .price__prodact {
    background: #7fd9c7;
}

.overlay {
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    position: absolute;
    width: 235px;
    height: 261px;
    z-index: 25;
}

.colection__item:hover .overlay {
    opacity: 0.549;
}

.colection__item:hover .overlay__buttons {
    opacity: 1;
}
.overlay__buttons {
    opacity: 0;
}
.button__heart {
    position: absolute;
    width: 45px;
    height: 45px;
    color: rgb(255, 255, 255);
    top: 79px;
    left: 35px;
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    /* opacity: 0; */
    z-index: 50;
    
}

.button__two-rows {
    position: absolute;
    width: 45px;
    height: 45px;
    color: rgb(255, 255, 255);
    top: 79px;
    left: 94px;
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    /* opacity: 0; */
    z-index: 50;
}

.button__clock {
    position: absolute;
    width: 45px;
    height: 45px;
    color: rgb(255, 255, 255);
    top: 79px;
    left: 151px;
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    /* opacity: 0; */
    z-index: 50;
}

.button__busket {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 134px;
    left: 35px;
    width: 161px;
    height: 45px;
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    /* opacity: 0; */
    z-index: 50;
}
.button__heart:hover {
    opacity: 1;
    background-color: #1abc9c;
} 
.button__two-rows:hover {
    opacity: 1;
    background-color: #1abc9c;
}
.button__clock:hover {
    opacity: 1;
    background-color: #1abc9c;
}
.button__busket:hover {
    opacity: 1;
    background-color: #323232;
}
.add__to__cart {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 32px;
    text-align: right;
    display: inline-block;
}
/* ---------FOOTER---------- */
footer {
    height: 86px;
    width: 100%;
    background-color: #323232;
}

.footer {
    background-color: rgb(50, 50, 50);
}

.contact {
    width: 400px;
    margin: 0 auto;
}

.footer-menu {
    text-align: center;
}

.footer-item {
    display: inline-block;
    padding-top: 35px;
}

.contact-link {
    text-decoration: none;
    color: rgb(254, 254, 254);
    font-size: 16px;
    line-height: 28px;
    font-family: "Roboto";
    font-weight: lighter;
}

.nick {
    font-family: "Roboto";
    color: rgb(78, 198, 171);
    font-size: 16px;
    line-height: 28px;
    font-weight: lighter;
}

  